[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/happly"]
	path = external/happly
	url = https://github.com/nmwsharp/happly.git
[submodule "external/nativefiledialog"]
	path = external/nativefiledialog
	url = git@github.com:btzy/nativefiledialog-extended.git
